.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;

  p, h2 {
    text-align: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
