nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: stretch;

  width: 100%;
  margin-bottom: 16px;

  border-bottom: var(--mat-sys-outline) 1px solid;

  #text-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  #back-button {
    display: grid;
    place-items: center;
  }

  #profile-circle {
    display: grid;
    place-items: end;
    padding: 6px;
  }


}

main {
  display: flex;
  flex-direction: column;

  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: auto;

  border-top: var(--mat-sys-outline) 1px solid;

  p {
    text-align: center;
    color: var(--mat-sys-outline)
  }

  p:hover {
    text-decoration: underline;
    cursor: default;
  }
}

#router-content {
  padding-right: 8px;
  padding-left: 8px;

  height: 100%;
  width: 100%;
}
