<main>
  <nav>
    @if (isBackButton()) {
      <button matIconButton id="back-button">
        <mat-icon>arrow_back</mat-icon>
      </button>
    } @else {
      <div></div>
    }

    <picture id="text-logo">
      <source media="(prefers-color-scheme: dark)" srcset="/text-logo-dark.svg">
      <img alt="{{'navigation.logo.alt' | translate}}" height="26" ngSrc="/text-logo-light.svg" width="137">
    </picture>

    @if (account()) {
      <re-profile-circle
        id="profile-circle"
        [colorInt]="account()!.profileColor"
        [matMenuTriggerFor]="menu"/>
      <mat-menu #menu>
        <button mat-menu-item id="logout-menu-item" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ 'nav.profile_menu.logout.label' | translate }}</span>
        </button>
      </mat-menu>
    } @else {
      <div></div>
    }

  </nav>

  <div id="router-content">
    <router-outlet></router-outlet>
  </div>

  <footer>
    @if (endpoint) {
      <p>{{ 'footer.endpoint' | translate:{ endpoint } }}</p>
    }
    <p>{{ 'footer.about' | translate }}</p>
  </footer>
</main>
