nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: stretch;

  width: 100%;
  height: 56px;
  margin-bottom: 16px;

  border-bottom: var(--mat-sys-outline) 1px solid;

  picture {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

main {
  display: flex;
  flex-direction: column;

  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: auto;

  border-top: var(--mat-sys-outline) 1px solid;

  p {
    text-align: center;
    color: var(--mat-sys-outline)
  }

  p:hover {
    text-decoration: underline;
    cursor: default;
  }
}

#router-content {
  padding-right: 8px;
  padding-left: 8px;

  height: 100%;
  width: 100%;
}
