@use '@angular/material' as mat;

/*
 * Sets up the theming.
 * Light or dark mode is determined by the client.
 */
html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  border: none;
}

/*
 * We default to use border-box and no margin.
 */
* {
  box-sizing: border-box;
  margin: 0;
}

/*
 * Body is the element that contains the whole ui.
 * It's background is the material surface color.
 */
body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  width: 400px;
  height: 600px;
}

mat-form-field, .form-field {
  width: 275px
}
