re-show-more {
  width: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.content-pre-error {
  height: 100%;
  display: flex;
  place-items: center;
}

.pre-error {
  color: var(--mat-sys-outline);
}

#replicate-button {
  align-self: center;
}

#password-input {
  margin-left: 32px;
}

#post-error-container {
  align-self: center;

  background: var(--mat-sys-error-container);
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
}

#post-error {
  color: var(--mat-sys-on-error-container);
  text-align: center;
}
